body{
    background-image:url(https://wallpapercave.com/wp/wp9132382.jpg);
    background-size: cover;
}
.container{
    background: rgba(29, 27, 27, 0.6);
    height: 60rem;
    width: 50rem;
}
h1{
    color:bisque;
    background-color: black;
    margin: auto;
    padding: 0%;
}
video{

    width: "320";
    height: "240";
}